/work/
/turbor/work/
**/__pycache__/
*.py[cod]
.env
.env.*
*.exe
*.dll
*.pdb
/outputs/*.zip
/outputs/turbor/*.zip
/outputs/SHA256SUMS-publication.txt
/outputs/turbor/SHA256SUMS.txt
/outputs/SHA256SUMS-*.txt

/msx2/work/
/msx1/work/
/outputs/msx2/*.zip
/outputs/msx1/*.zip
/outputs/msx2/SHA256SUMS*.txt
/outputs/msx1/SHA256SUMS*.txt

/outputs/msx1/v1.1/*.zip
/outputs/msx1/v1.1/SHA256SUMS*.txt

/outputs/msx1/v1.2/*.zip
/outputs/msx1/v1.2/SHA256SUMS*.txt
