* text=auto eol=lf whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
*.rom binary
*.bin binary
*.png binary
*.gif binary
*.zip binary
/src/** -text
/turbor/src/** -text
/assets/** -text
/turbor/assets/** -text
/licenses/sdcc-runtime/** -text
/licenses/sdcc-runtime/src/*.s whitespace=-blank-at-eof

/msx2/src/** -text
/msx1/src/** -text
/msx2/assets/** -text
/msx1/assets/** -text
/msx1/tests/baseline-v1.2/** -text
